.info-card-section{
    display: flex;
    width: auto;
    color: black;
    flex-direction: column;
    gap: 18px;
}

.rating-star{
    color:rgba(255, 198, 51, 1);
}

.rating-value{
    color: rgba(0, 0, 0, 1);

}