.Offer-Card-Section {
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: space-around;
    color: aliceblue;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.newsletter-email {
    opacity: 1;
    border-radius: 62px;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    width: 400px;
    padding-left: 16px;
    gap: 12px;
    background: white;
    display: flex;
    align-items: center;
    font-family: Source Serif Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(0, 0, 0, 0.4);
;
}

.newsletter-subscribe {
    opacity: 1;
    border-radius: 62px;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 15px;
    width: 400px;
    padding-left: 16px;
    gap: 12px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.na-footer-offer {
    color: black;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.typography-style {
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    /* ExtraBold */
    font-style: normal;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0;
}

.img-email {
    width: 24px;
    height: 24px;
}